Repository kubernetes-sigs/apiserver-runtime, pull requests merged in 2021-01, with the labels that each got.

#29 Fix link to the sample implementation
  README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#30 Bumping kubernetes dependencies to 1.20.1
  go.mod
  go.sum
Labels: approved, cncf-cla: yes, lgtm, size/L

#31 Work-around for unwounding nil panic from bumping k8s dependencies to 1.20.1
  internal/sample-apiserver/pkg/cmd/server/hack.go
  internal/sample-apiserver/pkg/cmd/server/start.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/M

#32 Factors out SubResource interface
  internal/sample-apiserver/pkg/apiserver/ext.go
  pkg/builder/builder_auth.go
  pkg/builder/builder_resource.go
  pkg/builder/resource/resourcerest/interface.go
  pkg/builder/resource/types.go
  pkg/builder/rest/provider.go
  pkg/builder/rest/rest.go
  pkg/builder/rest/rest_subresource.go
  pkg/features/feature.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/L
